<div class="panel-heading">{{ header }}</div>

<div class="panel-body">

    <form [formGroup]="updateForm">

        <div class="form-group">
            <label class="col-md-4">Title</label>
            <input type="text" formControlName="title" #title />
        </div>

        <div class="form-group">
            <label class="col-md-4">Author</label>
            <input type="text" formControlName="author" #author />
        </div>

        <div class="form-group">
            <label class="col-md-4">Year</label>
            <input type="text" formControlName="year" #year />
        </div>

        <div class="form-group">
            <label class="col-md-4">Genre</label>
            <input type="text" formControlName="genre" #genre />
        </div>

        <div class="form-group">
            <label class="col-md-4">Review</label>
            <input type="text" formControlName="review" #review />
        </div>

        <div class="form-group">
            <button routerLink="/home">Back</button>&nbsp;
            <button type="submit" (click)="updateBook(title.value, author.value, year.value, 
        genre.value, review.value)" [disabled]="updateForm.pristine || updateForm.invalid">Update</button>
        </div>
    </form>

</div>