.selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .books {
    margin: 0 0 2em 0;
    padding: 0;
    width: 15em;
  }
  .books li {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
  }
  .books li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .books li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }